doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		title Nuestra experiencia con las redes de Petri

		link(rel='stylesheet', type='text/css', href='build/build.css')

	body

		article

			section
				img(src="images/unclogo.jpg")

			section(data-bespoke-backdrop='nobodycares')
				h1 Nuestra experiencia profesional

			section(data-bespoke-backdrop='mrx')
				h2 ¿Quienes somos?

			section(class='gif gif--nerd')

			section(class='gif gif--bubbles')
				h2 La burbuja academica

			section(data-bespoke-backdrop='huevo')
				h2 Saliendo de la burbuja

			section(class='gif gif--minions black')
				h2 Pasantias en Intel

			section
				h2 El que no quiso cuando pudo
				h2 no podra cuando quiera
				h3 Atte. La oportunidad

			section(class='gif gif--noidea')
				h2(class='transparent-grey') Full time job
				h4(class='transparent-grey') Siendo estudiante

			section(data-bespoke-backdrop='thinking')
				h2 Conclusiones

			section(class='gif gif--aprender')
				h2 Aprender
				h3 Tools, procedimientos, tecnologias, manejo de tiempos

			section(data-bespoke-backdrop='mejorar')
				h2 Mejorar
				h3 Forma de encarar problemas, Forma de relacionarte

			section(class='gif gif--dumbhorse')
				h2(class='transparent-grey') .. y mas beneficios
				h3(class='transparent-grey') Contactos, curriculum, confianza

			section(data-bespoke-backdrop='grotesco')
				h2 Gracias!

		script(src='build/build.js')
